html {
  overflow: hidden;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #faf8ef;
}

.App {
  max-width: 500px;
  margin: 100px auto 0 auto;
  font-family: sans-serif;
  text-align: center;
}

.App h1 {
  font-family: Bradley Hand, cursive;
  text-transform: uppercase;
}

.App p {
  font-family: Bradley Hand, cursive;
}

.game-board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 4px;
  border-radius: 10px;
  background-color: #8f7a66;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
  padding: 4px;
  height: 90px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  transition: 0.3s;
}

.cell-2 {
  background-color: orange;
}

.cell-4 {
  background-color: rgb(39, 207, 207);
}

.cell-8 {
  background-color: pink;
}

.cell-16 {
  background-color: palevioletred;
}

.cell-32 {
  background-color: greenyellow;
}

.cell-64 {
  background-color: burlywood;
}

.cell-128 {
  background-color: goldenrod;
}

.cell-256 {
  background-color: rebeccapurple;
}

.cell-512 {
  background-color: cyan;
}

.cell-1024 {
  background-color: gold;
}

.cell-2048 {
  background-color: aquamarine;
}

.reset-btn {
  width: 100px;
  padding: 8px;
  margin: 50px auto 50px auto;
  color: #ffffff;
  font-size: 18px;
  background-color: #8f7a66;
  border: 1px solid #8f7a66;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.reset-btn:hover,
.reset-btn:focus {
  border: 1px solid burlywood;
  background-color: burlywood
}
